footer{
    margin-top: 55px;
    background-color: #eee;
}
.footer{
    padding-top: 55px;
    padding-bottom: 30px;
    &-item{
        ul{
            margin-left: -40px;
            margin-top: -18px;
            list-style: none;
        }
        li{
            padding-top: 15px;
        }
        a{
            color:#999999;
            font-size: 11pt;
        }
        a:hover{
            color: #0099cc;
            text-decoration: none;
        }
        &__title{
            font-weight: bold;
            font-size: 14pt;
        }
        i{
            padding-top: 5px;
            padding-right: 20px;
            color: #0099cc;
        }
        &__icon{
            i{
                color: #999999;
            }
            :hover{
                color: #0099cc;
            }
        }
    }
}
.copyright{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    p{
        font-size: 10pt;
        color: #999999;
        span{
            color: #0099cc;
        }
    }
    img{
        width: 350px;
        height: 30px;
    }
}
