// #wrapper{
//     // max-width: 1920px;
// }
@font-face {
  font-family: "poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: poppins-medium;
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins-semibold;
  src: url("../../assets/fonts/Poppins/Poppins-Semibold.ttf");
}
body {
  font-family: "poppins";
}
* {
  padding: 0;
  margin: 0%;
}
.container {
  font-family: "poppins";
}
@media only screen and(min-width: 1200px) {
  .container {
    max-width: 1170px;
    // overflow: hidden;
    margin: 0 auto;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* slider  */
.slider {
  font-family: "poppins";
  width: 100%;
  position: relative;
  &__button {
    width: 60px;
    height: 60px;
    background-color: #fff;
  }
  &__text {
    max-width: 700px;
    margin-left: 20%;
    margin-top: 11%;
    position: absolute;
  }
  &__text b {
    font-size: 55pt;
    line-height: 100px;
    font-family: poppins-medium;
  }
  &__text b span {
    color: #0099cc;
  }
  &__text p {
    padding-top: 10px;
    font-size: 16pt;
    color: #999999;
    padding-bottom: 30px;
    font-family: 'poppins';
  }
  &__text a {
    color: black;
    font-family: poppins-semibold;
    font-size: 14pt;
  }
  &__text a:hover {
    text-decoration: none;
    border-bottom: solid 1px #0099cc;
    padding-bottom: 5px;
    color: black;
  }
  &__button {
    margin-top: 18%;
    background-color: black;
    width: 50px;
    height: 50px;
  }
}

/* fact */
.fact {
  margin-top: 60px;
  &__icon {
    color: #0099cc;
  }
  &__text {
    margin-left: 15px;
  }
  &__text span {
    font-weight: bold;
    font-size: 11pt;
    font-family: poppins-medium;
  }
  &__text p {
    font-family: poppins-regular;
    font-size: 10pt;
    color: #999999;
  }
}

/* banner */
@banner-background: #eee;
.banner {
  margin-top: 40px;
  span {
    color: #0099cc;
  }
  p {
    color: #999999;
  }
  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__hotdeal {
    background-color: @banner-background;
    background: url("../images/banner/coconut.png") no-repeat scroll #eee;
    background-size: 60%;
    background-position: center top;
    background-origin: content-box;
    &-content {
      padding-top: 47%;
      line-height: 10px;
      padding-bottom: 5%;
      &-countdown {
        margin: auto;
        max-width: 266px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        &-time {
          text-align: center;
          background-color: white;
          padding-top: 10px;
          line-height: 5px;
          b {
            padding-top: 2%;
            color: #0099cc;
            font-size: 15pt;
          }
          p {
            margin-top: 15px;
            color: black;
            font-size: 9pt;
            font-family: poppins-semibold;
          }
          
        }
      }
      &-title {
        margin-top: -10px;
      }
      h2 {
        font-family: poppins-semibold;
      }
      p {
        font-family: poppins-regular;
      }
    }
  }

  &__1 {
    background-color: @banner-background;
    background: url("../images/banner/pill.png") no-repeat scroll #eee;
    background-size: 50%;
    background-position: right 5% top;
    background-origin: content-box;
    &-content {
      padding-top: 8%;
      margin-left: 6%;
      line-height: 10px;
      padding-bottom: 8%;
    }
    h2 {
      font-size: 18pt;
      font-family: poppins-semibold;
    }
    span {
      padding-left: 1%;
      font-size: 45pt;
    }
    p {
      font-family: poppins-regular;
      font-size: 15pt;
    }
  }
  &__2 {
    background-color: @banner-background;
    margin-top: 40px;
    background: url("../images/banner/pill2.png") no-repeat scroll #eee;
    background-size: 50%;
    background-position: right 5% top 15%;
    background-origin: content-box;
    &-content {
      line-height: 10px;
      padding-top: 18%;
      margin-left: 6%;
      padding-bottom: 18%;
    }
    h2 {
      font-family: poppins-semibold;
    }
    p {
      font-size: 14pt;
      font-family: poppins-regular;
    }
  }
}
@media only screen and(min-width: 576px) {
  .slider {
    &__text b {
      font-size: 15pt;
      line-height: 30px;
    }
    &__text p {
      font-size: 10pt;
    }
    &__text a {
      font-size: 10pt;
    }
  }
}

@media only screen and(min-width: 768px) {
  .slider {
    font-family: "poppins";
    &__text b {
      font-size: 15pt;
      line-height: 50px;
    }
    &__text p {
      font-size: 10pt;
    }
    &__text a {
      font-size: 10pt;
    }
  }
}

@media only screen and(min-width: 992px) {
  .slider {
    &__text b {
      font-size: 35pt;
      line-height: 70px;
    }
    &__text p {
      font-size: 12pt;
    }
    &__text a {
      font-size: 10pt;
    }
  }
}
@media only screen and(min-width: 1200px) {
  .slider {
    &__text b {
      font-size: 55pt;
      line-height: 100px;
    }
    &__text p {
      font-size: 16pt;
    }
    &__text a {
      color: black;
      font-weight: bold;
      font-size: 14pt;
    }
  }
}
